* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Quicksand', sans-serif;
    font-size: 62.5%;
    background-color: #232830;
}
header{
    background-image: radial-gradient(circle at 12.5% 12.5%, #ff5896 0, #ff4aa2 8.33%, #ff3cae 16.67%, #ff2dbb 25%, #ff1fc7 33.33%, #ff14d3 41.67%, #f810df 50%, #e019eb 58.33%, #c428f7 66.67%, #a136ff 75%, #7343ff 83.33%, #004dff 91.67%, #0057ff 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12rem;
    justify-content: center;
}
.title{
    font-size: 4rem;
    color: white;
    font-style: italic;
    align-self: center;
}
.subtitle{
    font-size: 1rem;
    color: white;
    align-self: center;
}
.movie-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie{
    width: 60%;
    height: 30rem;
    margin: auto;
}
button{
    width: 30%;
    align-self: center;
    color: #0099CC;
    background: transparent;
    border: 2px solid #0099CC;
    border-radius: 6px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
button:hover {
    background-color: #008CBA;
    color: white;
}
#exButton {
    border:lime 2px solid;
    width: 15%;
    font-size: 14px;
    align-items: center;
}
#exButton:hover{
    background-color:lime;
    color: white;
}
a {
    color: white;
    text-decoration: none;
}
.footer{
    display: flex;
    width: 100%;
    height: 200px;
    background-color:#0099CC;
    margin-top: 10px;
}
.contact-me{
    width: 50%;
    display: grid;
    justify-content: center;
}
.contact-me p{
    color: #FFF;
    align-self: center;
    font-size: 1.2rem;
    top: -5px;
}
.title2{
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    margin-top: 1rem;
}
.Social-Media{
    width: 50%;
    display: grid;
    justify-content: center;
}
.Social-Media a{
    color: #FFF;
    align-self: center;
    font-size: 1.2rem;
}

